.attribution {
    color: hsl(0, 0%, 100%);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 64%);
}

.cardBox {
    background-image: linear-gradient(to bottom right, hsl(213, 19%, 18%, 0.5), hsl(216, 12%, 8%));
    border-radius: 20px;
    box-shadow: 0 10px 30px -20px hsl(0, 0%, 0%);
    margin: 170px 0;
    max-width: 412px;
    padding: 32px;
    width: 100%;

    @media (max-width: 450px) {
        margin: 125px 0;
    }
}

.cardBoxRating {
    align-items: start;
    display: flex;
//display: none;
    flex-direction: column;
    justify-content: start;
}

.cardBoxRatingScala {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    margin: 4px 0;
    width: 100%;
}

.cardBoxRatingScalaContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardBoxRatingScalaPoint {
    align-self: center;
    background-color: hsl(213, 19%, 18%);
    border-radius: 50px;
    box-shadow: 0 0 30px -15px hsl(216, 12%, 8%);
    color: hsl(217, 12%, 63%);
    padding: 20px 24px;

    @media (max-width: 450px) {
        padding: 10px 15px;
    }
}

.cardBoxRatingScalaPoint:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
}

.cardBoxRatingScalaPoint:focus {
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
    outline: none;
}

.cardBoxRatingScalaPoint.selected {
    background-color: hsl(0, 0%, 100%);
}

.cardBoxRatingStar {
    align-self: center;
    background-color: hsl(213, 19%, 18%);
    border: 5px;
    border-radius: 50px;
    box-shadow: 0 0 30px -15px hsl(216, 12%, 8%);
    padding: 20px;
}

.cardBoxResult {
    align-items: center;
//display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.cardBoxResult h1 {
    margin-bottom: 0;
}

.cardBoxResult label {
    background-color: hsl(213, 19%, 18%);
    border-radius: 50px;
    box-shadow: 0 0 30px -15px hsl(216, 12%, 8%);
    color: hsl(25, 97%, 53%);
    padding: 4px 12px;
}

.cardBoxResult p {
    text-align: center;
}

.cardBoxResultImage {
    width: 160px;
    height: auto;
    margin-bottom: 24px;
}

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    font-family: Overpass,sans-serif;
    justify-content: center;
    margin: 24px;
}

button {
    background-color: hsl(25, 97%, 53%);
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 30px -15px hsl(216, 12%, 8%);
    color: hsl(216, 12%, 8%);
    font-weight: bold;
    margin-top: 24px;
    padding: 12px 0;
    width: 100%;
    text-transform: uppercase;
}

button:hover {
    background-color: hsl(0, 0%, 100%);
}

button:focus {
    background-color: hsl(0, 0%, 100%);
    outline: none;
}

h1 {
    color: hsl(0, 0%, 100%);
}

p {
    color: hsl(217, 12%, 63%);
    line-height: 150%;
    text-align: start;
}